@use "./variables";

@mixin breakpoint($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin cardSize($size) {
  font-size: $size;
  width: calc($size*20);
  height: calc(1.4 * ($size*20));
  max-width: 90%;
  max-height: 90%;
}
